.header{
    background: linear-gradient(to right,#000, #444);
    box-shadow: 4px 6px 6px rgba(0,0,0,0.5);
    color: #61dafb;
    text-align: center;
    padding: 1em;
}

svg{
    width: 100px;
    height: 100px;
}

.spin {
    animation: spin 8s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  